<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoji_1</key>
	<string>[可爱]</string>
	<key>emoji_2</key>
	<string>[笑脸]</string>
	<key>emoji_3</key>
	<string>[囧]</string>
	<key>emoji_4</key>
	<string>[生气]</string>
	<key>emoji_5</key>
	<string>[鬼脸]</string>
	<key>emoji_6</key>
	<string>[花心]</string>
	<key>emoji_7</key>
	<string>[害怕]</string>
	<key>emoji_8</key>
	<string>[我汗]</string>
	<key>emoji_9</key>
	<string>[尴尬]</string>
	<key>emoji_10</key>
	<string>[哼哼]</string>
	<key>emoji_11</key>
	<string>[忧郁]</string>
	<key>emoji_12</key>
	<string>[呲牙]</string>
	<key>emoji_13</key>
	<string>[媚眼]</string>
	<key>emoji_14</key>
	<string>[累]</string>
	<key>emoji_15</key>
	<string>[苦逼]</string>
	<key>emoji_16</key>
	<string>[瞌睡]</string>
	<key>emoji_17</key>
	<string>[哎呀]</string>
	<key>emoji_18</key>
	<string>[刺瞎]</string>
	<key>emoji_19</key>
	<string>[哭]</string>
	<key>emoji_20</key>
	<string>[激动]</string>
	<key>emoji_21</key>
	<string>[难过]</string>
	<key>emoji_22</key>
	<string>[害羞]</string>
	<key>emoji_23</key>
	<string>[高兴]</string>
	<key>emoji_24</key>
	<string>[愤怒]</string>
	<key>emoji_25</key>
	<string>[亲]</string>
	<key>emoji_26</key>
	<string>[飞吻]</string>
	<key>emoji_27</key>
	<string>[得意]</string>
	<key>emoji_28</key>
	<string>[惊恐]</string>
	<key>emoji_29</key>
	<string>[口罩]</string>
	<key>emoji_30</key>
	<string>[惊讶]</string>
	<key>emoji_31</key>
	<string>[委屈]</string>
	<key>emoji_32</key>
	<string>[生病]</string>
	<key>emoji_33</key>
	<string>[红心]</string>
	<key>emoji_34</key>
	<string>[心碎]</string>
	<key>emoji_35</key>
	<string>[玫瑰]</string>
	<key>emoji_36</key>
	<string>[花]</string>
	<key>emoji_51</key>
	<string>[男孩]</string>
	<key>emoji_52</key>
	<string>[女孩]</string>
	<key>emoji_53</key>
	<string>[嘴唇]</string>
	<key>emoji_54</key>
	<string>[爸爸]</string>
	<key>emoji_55</key>
	<string>[妈妈]</string>
	<key>emoji_56</key>
	<string>[衣服]</string>
	<key>emoji_57</key>
	<string>[皮鞋]</string>
	<key>emoji_58</key>
	<string>[照相]</string>
	<key>emoji_59</key>
	<string>[电话]</string>
	<key>emoji_60</key>
	<string>[石头]</string>
	<key>emoji_61</key>
	<string>[胜利]</string>
	<key>emoji_62</key>
	<string>[禁止]</string>
	<key>emoji_63</key>
	<string>[滑雪]</string>
	<key>emoji_64</key>
	<string>[高尔夫]</string>
	<key>emoji_65</key>
	<string>[网球]</string>
	<key>emoji_66</key>
	<string>[棒球]</string>
	<key>emoji_67</key>
	<string>[冲浪]</string>
	<key>emoji_68</key>
	<string>[足球]</string>
	<key>emoji_69</key>
	<string>[小鱼]</string>
	<key>emoji_70</key>
	<string>[问号]</string>
	<key>emoji_71</key>
	<string>[叹号]</string>
	<key>emoji_179</key>
	<string>[顶]</string>
	<key>emoji_180</key>
	<string>[写字]</string>
	<key>emoji_181</key>
	<string>[衬衫]</string>
	<key>emoji_182</key>
	<string>[小花]</string>
	<key>emoji_183</key>
	<string>[郁金香]</string>
	<key>emoji_184</key>
	<string>[向日葵]</string>
	<key>emoji_185</key>
	<string>[鲜花]</string>
	<key>emoji_186</key>
	<string>[椰树]</string>
	<key>emoji_187</key>
	<string>[仙人掌]</string>
	<key>emoji_188</key>
	<string>[气球]</string>
	<key>emoji_189</key>
	<string>[炸弹]</string>
	<key>emoji_190</key>
	<string>[喝彩]</string>
	<key>emoji_191</key>
	<string>[剪子]</string>
	<key>emoji_192</key>
	<string>[蝴蝶结]</string>
	<key>emoji_193</key>
	<string>[机密]</string>
	<key>emoji_194</key>
	<string>[铃声]</string>
	<key>emoji_195</key>
	<string>[女帽]</string>
	<key>emoji_196</key>
	<string>[裙子]</string>
	<key>emoji_197</key>
	<string>[理发店]</string>
	<key>emoji_198</key>
	<string>[和服]</string>
	<key>emoji_199</key>
	<string>[比基尼]</string>
	<key>emoji_200</key>
	<string>[拎包]</string>
	<key>emoji_201</key>
	<string>[拍摄]</string>
	<key>emoji_202</key>
	<string>[铃铛]</string>
	<key>emoji_203</key>
	<string>[音乐]</string>
	<key>emoji_204</key>
	<string>[心星]</string>
	<key>emoji_205</key>
	<string>[粉心]</string>
	<key>emoji_206</key>
	<string>[丘比特]</string>
	<key>emoji_207</key>
	<string>[吹气]</string>
	<key>emoji_208</key>
	<string>[口水]</string>
	<key>emoji_209</key>
	<string>[对]</string>
	<key>emoji_210</key>
	<string>[错]</string>
	<key>emoji_211</key>
	<string>[绿茶]</string>
	<key>emoji_212</key>
	<string>[面包]</string>
	<key>emoji_213</key>
	<string>[面条]</string>
	<key>emoji_214</key>
	<string>[咖喱饭]</string>
	<key>emoji_215</key>
	<string>[饭团]</string>
	<key>emoji_216</key>
	<string>[麻辣烫]</string>
	<key>emoji_217</key>
	<string>[寿司]</string>
	<key>emoji_218</key>
	<string>[苹果]</string>
	<key>emoji_219</key>
	<string>[橙子]</string>
	<key>emoji_220</key>
	<string>[草莓]</string>
	<key>emoji_221</key>
	<string>[西瓜]</string>
	<key>emoji_222</key>
	<string>[柿子]</string>
	<key>emoji_223</key>
	<string>[眼睛]</string>
	<key>emoji_224</key>
	<string>[好的]</string>
</dict>
</plist>
